body {
  background-color: black;
}

.App {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #E0E0E0;
  height: 30px;
  padding: 15px;
  padding-left: 70px;
  color: black;
}

.App-header h2 {
  margin: 0;
  display: inline;
}

.edition-label {
  position: absolute;
  left: 0px;
  width: 45px;
  height: 100%;
  background-color: black;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 5px;
  text-align: right;
  overflow: hidden;
}

.edition-label:hover {
  width: auto;
}

.edition-info {
  font-size: 9px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

.edition-title {
  font-style: italic;
}

table {
  padding: 10px;
  margin-left: 55px;
}

.grid-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.modal-close {
  float: left;
}

.zoom-control {
  display: inline;
  position: absolute;
  right: 70px;
  top: 20px;
}

.zoom-control label {
  margin-right: 10px;
}
